/* Extra small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Styles for extra small screens */
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for small screens */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for medium screens */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for large screens */
  .cartcard {
    background: green;
    height: 120px;
    border: 1px solid gray;
    box-shadow: 1px 1px 10px gray;
    margin: 5px auto;
    border-radius: 5px;
    padding: 5px;
    align-content: center;
    justify-content: space-between;
  }
  .cartcard-container {
    display: flex;
    background: goldenrod;
    height: 90%;
    width: 100%;
  }
  .cartitems-img {
    background: turquoise;
    width: 20%;
  }
  .cartitems-img img {
    display: block;
    background: red;
    height: 100%;
    padding: 4px;
    margin: 1px;
  }
  .cartitems-details {
    background: lightgreen;
    width: 70%;
  }
  .cartitems-actions {
    background: lightsalmon;
    width: 10%;
  }
  .cartitems-actions-buttons {
    background: burlywood;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    bottom: 0px;
  }
  .cartitems-actions-buttons input {
    width: 50%;
  }
  .cartitems-actions-buttons button {
    width: 25%;
    border: 0;
    border-radius: 3px;
    color: white;
    background: teal;
  }
  .cartitems-actions-buttons button:active {
    background: hsl(180, 100%, 40%);
  }
}
